<header id="cabecera">
    <div id="nombre">
      <h1>JOSÉ CORTÉS GIMÉNEZ</h1>
    </div>
    <div id="perfil"> <img src="/assets/imagenesEscuela/usuario.png" /> </div>
  </header>
  <input type="checkbox" name="" id="side-menu-switch" />

  <div class="side-menu">
    <nav id="menuflex">
      <ul>
        <li><a routerLink="login">LOG IN</a></li>
        <li><a routerLink="perfil">PERFIL</a></li>
        <li><a routerLink="back-notas">NOTAS</a></li>
        <li><a routerLink="alumnos"> ALUMNOS </a></li>
      </ul>
    </nav>

    <label id="primera-etiqueta" for="side-menu-switch" onclick="primertoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="segunda-etiqueta" for="side-menu-switch" onclick="segundotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>


    <label id="tercera-etiqueta" for="side-menu-switch" onclick="tercertoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="cuarta-etiqueta" for="side-menu-switch" onclick="cuartotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>


    <label id="quinta-etiqueta" for="side-menu-switch" onclick="quintotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="sexta-etiqueta" for="side-menu-switch" onclick="sextotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>

    </label>
    <label id="septima-etiqueta" for="side-menu-switch" onclick="septimotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>

    </label>
    <label id="octava-etiqueta" for="side-menu-switch" onclick="octavotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="novena-etiqueta" for="side-menu-switch" onclick="novenotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="decima-etiqueta" for="side-menu-switch" onclick="decimotoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="once-etiqueta" for="side-menu-switch" onclick="oncetoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="doce-etiqueta" for="side-menu-switch" onclick="docetoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>

    <label id="trece-etiqueta" for="side-menu-switch" onclick="trecetoggle();">
      <div class="burguer"></div>
      <div class="burguer"></div>
      <div class="burguer"></div>
    </label>


  </div>

<router-outlet></router-outlet>
<app-mensaje></app-mensaje>
